{% extends 'base.html.twig' %}

{% block title %}Erreur 404 - Diana Dawson Decor{% endblock %}

{% block content %}

<div>
   <h2>Erreur 404</h2>
   <p>Nous ne trouvons pas la page que vous recherchez</p>
   <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'accueil</a>
</div>

{% endblock %}
